# Node
node_modules/
dist/
.angular/

# Java / Maven
backend/target/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/
*.swp

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.claude/

# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate*
infra/terraform/.terraform.lock.hcl
*.tfplan

# SonarQube
.scannerwork/
.sonar/
